$icomoon-font-family: "Icons" !default;
$icomoon-font-path: "./fonts" !default;

$icon-add-task: "\e904";
$icon-close: "\e905";
$icon-logout: "\e906";
$icon-person-add: "\e907";
$icon-reset: "\e908";
$icon-visibility-off: "\e909";
$icon-visibility-on: "\e90a";
$icon-groups: "\e900";
$icon-accept: "\e901";
$icon-reject: "\e902";
