.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  gap: 0.6rem;
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  &__container {
    position: relative;
    input {
      width: 100%;
      background-color: var(--form-label);
      border: 0.1rem solid var(--dark-gray);
      border-radius: 0.8rem;
      outline: none;
      padding: 1.1rem 0.8rem 1.1rem 1.6rem;
      font-family: inherit;
      font-size: 1.4rem;
      color: var(--dark-gray);
      font-weight: 400;
      &::placeholder {
        font-family: inherit;
        opacity: 0.4;
      }
    }
    button {
      position: absolute;
      right: 5%;
      top: 25%;
      background-color: transparent;
      outline: none;
      border: none;
      i {
        cursor: pointer;
        color: var(--dark-gray);
        font-size: 2rem;
      }
    }
  }
  &__error {
    color: var(--red);
    font-size: 1.2rem;
    font-weight: 400;
  }
}
